{% extends 'base.html.twig' %}

{% block title %}Park index{% endblock %}

{% block body %}
    <h1>Park index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>OpeningYeaar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for park in parks %}
            <tr>
                <td>{{ park.id }}</td>
                <td>{{ park.name }}</td>
                <td>{{ park.country }}</td>
                <td>{{ park.openingYeaar }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_park_delete', {'id': park.id}) }}" class="btn btn-danger mt-4">delete</a>
                    <a href="{{ path('app_park_edit', {'id': park.id}) }}" class="btn btn-primary mt-4">edit</a>
                    
                    {% endif %}
                    <a href="{{ path('app_park_show', {'id': park.id}) }}" class="btn btn-primary mt-4">show</a>
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_park_new') }}" class="btn btn-primary mt-4">Create new</a>
    {% endif %}
{% endblock %}
